/* width */
::-webkit-scrollbar {
  width: 12px;
  display: none;
}

.menu ::-webkit-scrollbar {
    display: table;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #007174;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #149c7e;
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    background: #444;
    color: white;
    outline: 1px solid #2a2a2a;
    z-index: 2;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: inline;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0px;
    width: 251px;
}

.sidebar li {
    outline: 1px solid #2a2a2a;
    transition: border 0.5s;
}

.sidebar li:hover {
    background: #555;
    border-left: 5px solid #eee;
}

.sidebar i {
    text-align: center;
    margin: auto;
}



 .modal-dialog.modal-notify.modal-utxj .modal-header {
  background-color: #149c7e; }

.modal-dialog.modal-notify.modal-utxj .fas, .modal-dialog.modal-notify.modal-utxj .fab, .modal-dialog.modal-notify.modal-utxj .far {
  color: #149c7e; }

.modal-dialog.modal-notify.modal-utxj .badge {
  background-color: #149c7e; }

.modal-dialog.modal-notify.modal-utxj .btn .fas, .modal-dialog.modal-notify.modal-utxj .btn .fab, .modal-dialog.modal-notify.modal-utxj .btn .far {
  color: #fff; }

.modal-dialog.modal-notify.modal-utxj .btn.btn-outline-utxj .fas, .modal-dialog.modal-notify.modal-utxj .btn.btn-outline-utxj .fab, .modal-dialog.modal-notify.modal-utxj .btn.btn-outline-utxj .far {
  color: #149c7e; }

.menu {
    padding: 0;
    list-style: none;
    width: 250px;
    font-size: 18px;
    background: #c1c1c1;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.menu li ul{
    width: 243px;
}

.menu li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background: #3e3f44;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding: 10px;
    padding-left: 20px;
}

.menu li ul li a {
    font-size: 14px;
    width: 243px;
    color: #fff;
    text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.5);
}

.menu li a:hover {
    background: #149c7e;
    -moz-transition: background 0.3s ease-in;
    -webkit-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.menu li:hover ul {
    height: 170px;
    width: 243px;
    overflow-y: auto;
    overflow-x: hidden;
}



.menu ul li a {
    background: #333;
}

.menu ul li a:hover {
    background: #024d3c repeat scroll 0 0;
    color: #fff;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}